.detailLine{
    width: 100%;
    display: flex;
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 0 0 0.1rem 0;
}

.detailLine > p{
    width: 100%;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    font-weight: 400;
    font-size: 0.9rem;
    color: #685b63;
    min-width: 6rem;
    
}